<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
    <title>Error Page</title>
    <style>
      h1 {
        text-align: center;
        color: #424242;
      }
      p {
      text-align: center;
      font-weight: bold;
      color: #424242;
      }
      div {
      text-align: center;
      color: #424242;
      }
      body {
        background-color: #F2F2F2
      }
    </style>
</head>

<body>
    <h1>
         Error Page for Car Price Estimation
    </h1>

    <hr/>
     <div class="alert alert-danger" role="alert">
         <p class="alert-link">We're sorry. There was a problem accessing the database. Please try back later. </p>
     </div>

    <div>
        <a href = "{{ url_for('index') }}">Go Back to BMW Car Price Estimator</a>
    </div>


</body>
</html>